button {
    min-width: 120px;
    min-height: 120px;
    /* If we don't put it, the yellow background won't be visible */
    /* color: #282828; */
    /* background-image: none; */
    /* border-block: 1px solid; */
    /* border-color: #282828; */
    /* border: none; */
    /* border-radius: 0px; */
    /* background-color: #ebebeb; */
    /* margin-left: 2px; */
    /* margin-right: 2px; */
    padding: 4px;
}

/* button:hover { */
/*     background-color: #cbcbcb; */
/* } */
/**/
/* button.button1:hover { */
/*     transition: 500ms; */
/*     color: red; */
/*     background-color: yellow; */
/* } */
/**/
/* box { */
/*     border: none; */
/*     background-color: #282828; */
/*     padding: 12px; */
/* } */
